.post {
	float: left; 
	max-width: 320px;
	height: auto;
	position:relative;
	margin: 10px;
	padding: 5px;
	@include translateX(-900px);
	@include opacity(0);
	&.active {
		@include translateX(0);
		@include opacity(1);
		@include transition(transform 450ms ease-out, opacity 200ms ease-out);
	}
	&:hover {
		-webkit-filter: blur(2px);
	}
}

button.cleanup {
	background: $white;
	border: 1px solid $white;
	color: $darkgray;
	@include cabin;
}

.intro {
	margin: 0 auto;
	margin-top: 100px;
	line-height: 31px;
	h1, h2, h3, p, a {
		padding: 10px;
	}
}