script.
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48175111-1', 'gifroulette.tv');
  ga('send', 'pageview');

//- style
//-     .gifroulette-homepage { width: 320px; height: 50px; }
//-     @media(min-width: 500px) { .gifroulette-homepage { width: 468px; height: 60px; } }
//-     @media(min-width: 800px) { .gifroulette-homepage { width: 728px; height: 90px; } }


//- script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
//- <!-- gifroulette homepage -->
//- ins(class="adsbygoogle gifroulette-homepage"
//-      style="display:inline-block"
//-      data-ad-client="ca-pub-4532449992868077"
//-      data-ad-slot="4108750896")
//- script.
//-     (adsbygoogle = window.adsbygoogle || []).push({});
