
<div class="large-12 small-3 columns">
	<h1>Heads up!</h1>
	<h2>This site is not really safe for work.</h2>

	<p>It does not moderate, change, or in any way processes any data. It's whatever the live feed according to what it scrapes.</p>

	<p>Do not expect any kind of NSFW tags or hidden previews.</p>
	<p>this means that sometimes, you might (okay, <i>will</i>) see pornography.</p>

	<h3>If you're cool with that?</h3>
	{{#link-to 'play.index' class='mosey'}}Right this way &rarr;{{/link-to}}
</div>
