<section class="columns large-4 medium-3 small-12">
	<nav class="side-nav">
		<ul>
			<li>{{#link-to 'lobby.list'}}Show all Lobbies{{/link-to}}</li>
			<li>{{#link-to 'profile'}}Your Profile{{/link-to}}</li>
		</ul>
	</nav>
</section>