{{!-- <button class="cleanup"{{action 'cleanup'}}>clean up the mess</button> --}}

<div class="row">
	<div class="large-12 columns">
		{{#if isEmpty}}
		<h2>It can take a moment or two to get situated.  Such Tension!</h2>
		{{else}}
		{{#each gif in controller}}
			{{#view App.PostView}}
				<div class="imgwrap">
					<a {{bind-attr href=gif.asset_url}} target="_blank"><img {{bind-attr src=gif.asset_url}} alt=""></a>
				</div>
			{{/view}}
		{{/each}}
		{{/if}}
	</div>
</div>
